.carousel-indicators{
	padding: 35px;
}
.carousel-inner{
	.item{
		img{
			width:100%; 
			height: auto;
		}
	}
}

.blog{
	width: 100%;
	border-top: 2px solid $gris-oscuro;
	padding-top: 0px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 0px; 
	background-color: $beige;
	.row{
		position: relative;
		top: -50px;
		.col-blog{
			padding-left: 30px;
			padding-right: 30px;
			padding-bottom: 30px;
			img{
				border: 8px solid $cafe-claro;
			}
			h3{
				font-size: $letra-mediana2;
				font-weight: 600;
				padding-top: 10px;
				padding-bottom: 10px; 
			}
			p{
				font-size: $letra-chica2;
				padding-bottom: 10px; 
			}
			a{
				font-size: $letra-chica2;
				background-color: $cafe-claro;
				color: $gris-oscuro;
				padding: 5px; 
				font-weight: 700;
				cursor: pointer;
			}
		}		
	}
}