@mixin container(){
	color: $cafe-claro;
	margin: 0px;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}
@mixin sociales(){
	background-color: $beige3;
	border: 5px solid $naranjo;
	margin-right: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
}