//colores
$blanco:#ffffff;
$cafe-oscuro:#2F1F1F;
$cafe-oscuro2:#4A3A3A;
$cafe-claro:#DABA85;
$beige:#E9E0B7;
$beige2:#F8DEBF;
$beige3:#BFB68D;
$gris-oscuro:#333333;
$gris-claro:#F4F4F4;
$naranjo:#D76C42;
$naranjo-claro:#E0875F;

//fuente
$fuente:'Roboto', sans-serif;

//tamaños de letra
$letra-chica:10px;
$letra-chica2:13px;
$letra-mediana:15px;
$letra-mediana2:20px;
$letra-grande:25px;
$letra-grande2:35px;