.welcome{
	@include container();
	background-color: $gris-claro;
	.foto-welcome{
		border-radius: 20px;
		}
	.texto-welcome{
		padding:20px;
		margin:0px; 
		h2{
			font-size: $letra-grande2;
			color: $naranjo;
		}
		p{
			color: $gris-oscuro;
		}
		li{
			list-style: none;
			color: $gris-oscuro;
			span{
				color: $naranjo;
			}
		}

	}
	}
	 
